/* CSS Licenciado : Lucas Silva Gomes 15198398713*/

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./img/fundo.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #dff800;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Adiciona posicionamento relativo ao container */
}

.container .title-centered {
  font-size: 50px;
  text-align: center;
  border-radius: 50px;
  padding: 1px;
  margin-top: 6px;
  font-family: 'Comic Zine OT', sans-serif;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Defina a largura total */
  display: flex;
  align-items: center;
  justify-content: center;
}



.container .title-centered .title.afinado {
  background-size: cover;
  background-position: center;
  text-indent: -9999px; /* Oculta o texto do elemento */
  transform: scale(0.5); /* Aumenta o tamanho da imagem em 2 vezes */
  width: 40px; /* Defina a largura desejada para o elemento */
  height: 80px; /* Defina a altura desejada para o elemento */
  position: relative;
}

.container .title-centered .floating-letter {
  position: relative;
  animation: floatAnimation 1s ease-in-out infinite;
  width: auto; /* Altere para "auto" para que a largura seja definida pelo conteúdo */
  height: 150px; /* Mantenha a altura */
  display: flex; /* Altere para "flex" */
  align-items: center;
  justify-content: flex-start; /* Altere para "flex-start" para alinhar à esquerda */
  margin: 10px; /* Ajuste as margens conforme necessário */
}


.container .title-centered .floating-letter img {
  width: auto; /* Altere para "auto" para que a largura seja definida pelo conteúdo */
  height: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 100px;
}

nav ul li a {
  border-color: transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 150px;
  height: 100%;
  align-items: center;
  border: 1px solid hsla(60, 98%, 52%, 0.918);
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  overflow: hidden;
  transition: .5s;
  color: #000000;
  z-index: 1;
}

nav ul li a::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fae311;
  transition: .5s;
  z-index: -1;
}

nav ul li a:hover::before {
  width: 100%;
}


main {
  padding: 20px;
  flex-grow: 1;
}

.logo img {
  width: 400px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  align-items: center;
}

.logo {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px; /* Ajuste a margem superior para aproximar o logo */
  position: absolute; /* Adiciona posicionamento absoluto */
  top: -50px; /* Ajusta a distância do topo */
  left: 35%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Centraliza horizontalmente */
  transition: transform 0.3s ease-in-out;
  animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.search-section h2,
.social-section h2 {
  height: auto;
  font-size: 20px;
  margin-bottom: 40px;
}

.search-section .search-form {
  display: flex;
  margin-bottom: 20px;
}

.search-section .search-form input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 400px;
}

.search-section .search-form button {
  padding: 10px 20px;
  background-color: #c913c9;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.search-section .search-form button:hover {
  background-color: #4553a0;
}

.social-section {
  margin-top: 300px; /* Adicione uma margem superior para separar da seção anterior */
  margin-bottom: 10px; /* Reduza a margem inferior para evitar muito espaço em branco */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px; /* Adicione uma margem superior para separar da seção social */
}

.social-section .social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-section .social-link {
  margin: 0 10px;
  margin-bottom: 0;
  margin-top: 10px;
}

.social-section .social-link img {
  width: 40px;
  height: 40px;
}

.social-section .contact-info {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.social-section .contact-info p {
  margin-bottom: 0;
  font-size: 14px;
  color: #aaa;
}


footer p {
  font-size: 14px;
  color: #aaa;
}






